In [74]:
#import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('whitegrid')

In [143]:
#load dataset
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [76]:
#dimensions of data in format rows,columns
df.shape

(244, 7)

In [77]:
# It gives us null values
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [78]:
# It gives the data type of the Data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB
None

In [145]:
# Basic statistics of numerical columns
basic_stats = df.describe()
print("\nBasic Statistics:")
print(basic_stats)

"""" Standrad deviation equation : Standard deviation is a measure of uncertainty.
A low standard deviation means that most of the numbers are close to the mean (average) value.
A high standard deviation means that the values are spread out over a wider range.
Standard Deviation is often represented by the symbol Sigma: σ
Coefficient of Variation : 
The coefficient of variation is used to get an idea of how large the standard deviation is. 
Mathematically, the coefficient of variation is defined as: 
Coefficient of Variation = Standard Deviation / Mean 
Percentiles : indicate the percentage of scores that fall below a particular value.
"""

Basic Statistics:
       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

'" Standrad deviation equation : Standard deviation is a measure of uncertainty.\nA low standard deviation means that most of the numbers are close to the mean (average) value.\nA high standard deviation means that the values are spread out over a wider range.\nStandard Deviation is often represented by the symbol Sigma: σ\nCoefficient of Variation : \nThe coefficient of variation is used to get an idea of how large the standard deviation is. \nMathematically, the coefficient of variation is defined as: \nCoefficient of Variation = Standard Deviation / Mean '

In [80]:
# Maximum & Minimum Total bill
print("The maximum bill amount is $%.3f" %df['total_bill'].max(),"while the minimum bill amount is $%.3f" %df['total_bill'].min())
# Maximum & Minimum Tips
print("The maximum tip amount is $%.3f" %df['tip'].max(),"while the minimum tip is $%.3f" %df['tip'].min())

The maximum bill amount is $50.810 while the minimum bill amount is $3.070
The maximum tip amount is $10.000 while the minimum tip is $1.000

In [81]:
print(f"The variance and standard deviations of Total Bill amounts are {df['total_bill'].var():.3f} and {df['total_bill'].std():.3f}")
print(f"The variance and standard deviations of tip amounts are {df['tip'].var():.3f} and {df['tip'].std():.3f}")
print(f"The variance and standard deviations of size are {df['size'].var():.3f} and {df['size'].std():.3f}")

The variance and standard deviations of Total Bill amounts are 79.253 and 8.902
The variance and standard deviations of tip amounts are 1.914 and 1.384
The variance and standard deviations of size are 0.905 and 0.951

In [82]:
# find the percentage of tips by total bill
df['tips_percentage'] = np.round((df['tip']*100) / df['total_bill'] , 2)
df.head()

   total_bill   tip     sex smoker  day    time  size  tips_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2             5.94
1       10.34  1.66    Male     No  Sun  Dinner     3            16.05
2       21.01  3.50    Male     No  Sun  Dinner     3            16.66
3       23.68  3.31    Male     No  Sun  Dinner     2            13.98
4       24.59  3.61  Female     No  Sun  Dinner     4            14.68

In [83]:
# To get the correaltion value of the whole data
df.corr()

                 total_bill       tip      size  tips_percentage
total_bill         1.000000  0.675734  0.598315        -0.338629
tip                0.675734  1.000000  0.489299         0.342361
size               0.598315  0.489299  1.000000        -0.142844
tips_percentage   -0.338629  0.342361 -0.142844         1.000000

In [84]:
print(f"The covariance between the total bill amount are tip amount is {df['total_bill'].cov(df['tip']):.4f}")
# correlation of total bill and tip amounts.
print(f"The correlation between the total bill and tip amount is {df['tip'].corr(df['total_bill']):.4f}")

The covariance between the total bill amount are tip amount is 8.3235
The correlation between the total bill and tip amount is 0.6757

In [85]:
# Tips by party size
tips_by_size = df.groupby('size')['tip'].agg(['mean', 'median', 'min', 'max', 'sum', 'size'])
print("\nTips by party size:")
print(tips_by_size)

Tips by party size:
          mean  median   min    max     sum  size
size
1     1.437500   1.415  1.00   1.92    5.75     4
2     2.582308   2.500  1.00   5.85  402.84   156
3     3.393158   3.290  1.36  10.00  128.94    38
4     4.135405   3.760  2.00   9.00  153.01    37
5     4.028000   5.000  2.00   5.14   20.14     5
6     5.225000   5.000  4.20   6.70   20.90     4

### Smoker Status

In [86]:
# unique Values
df["smoker"].unique()

['No', 'Yes']
Categories (2, object): ['Yes', 'No']

In [87]:
# Value counts smoker and non smoker
df['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [88]:
# Tips by smoker status
tips_by_smoker = df.groupby('smoker')['tip'].agg(['mean', 'median', 'min', 'max', 'sum', 'size'])
print("\nTips by smoker status:")
print(tips_by_smoker)

Tips by smoker status:
            mean  median  min   max     sum  size
smoker
Yes     3.008710    3.00  1.0  10.0  279.81    93
No      2.991854    2.74  1.0   9.0  451.77   151

In [89]:
# smoker pay highest tips or non smoker pay highest tips

smoker_average_tip = df.groupby('smoker').mean().loc['No' , 'tip']
nonsmoker_average_tip = df.groupby('smoker').mean().loc['Yes' , 'tip']
if smoker_average_tip > nonsmoker_average_tip:
    print('smoker pay tips more than non-smoker')
else:
    print('non-smoker pay tips more than smoker')

non-smoker pay tips more than smoker

### Gender Status

In [90]:
# unique Values
df["sex"].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [91]:
# Value counts male and non female
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [92]:
# find the percentage of tips by male and female
df['tips_percentage'] = np.round((df['tip']*100) / df['size'] , 2)
df.head()

   total_bill   tip     sex smoker  day    time  size  tips_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2            50.50
1       10.34  1.66    Male     No  Sun  Dinner     3            55.33
2       21.01  3.50    Male     No  Sun  Dinner     3           116.67
3       23.68  3.31    Male     No  Sun  Dinner     2           165.50
4       24.59  3.61  Female     No  Sun  Dinner     4            90.25

In [93]:
# Who pay more men or women :
men_average_tip = df.groupby('sex').mean().loc['Male' , 'tip']
women_average_tip = df.groupby('sex').mean().loc['Female' , 'tip']
if men_average_tip > women_average_tip:
    print('men pay tips more than women')
else:
    print('women pay tips more than men')

men pay tips more than women

## Day

In [94]:
# unique Values
df["day"].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

Total sales each day and percentage

In [95]:
# Value counts male and non female
df['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [130]:
# Calculate average tip percentage for each day
average_tip_percentage_by_day = df.groupby('day')['tip'].mean().reset_index()

# Display the average tip percentage by day
print("Average Tip Percentage by Day:")
print(average_tip_percentage_by_day)

Average Tip Percentage by Day:
    day       tip
0  Thur  2.771452
1   Fri  2.734737
2   Sat  2.993103
3   Sun  3.255132

## Time

In [131]:
df["time"].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [132]:
df['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [133]:
# Tips by meal time
tips_by_time = df.groupby('time')['tip'].agg(['mean', 'median', 'min', 'max', 'sum', 'size'])
print("\nTips by meal time:")
print(tips_by_time)

Tips by meal time:
            mean  median   min   max     sum  size
time
Lunch   2.728088    2.25  1.25   6.7  185.51    68
Dinner  3.102670    3.00  1.00  10.0  546.07   176

In [142]:
# Analysis: Average tip percentage by day and time
df['average_tip_percentage'] = (df['tip'] / df['total_bill']) * 100
average_tip_percentage = df.groupby(['day', 'time'])['average_tip_percentage'].mean().reset_index().replace(np.nan,0)
print("\nAverage Tip Percentage by Day and Time:")
print(average_tip_percentage)

Average Tip Percentage by Day and Time:
    day    time  average_tip_percentage
0  Thur   Lunch               16.130074
1  Thur  Dinner               15.974441
2   Fri   Lunch               18.876489
3   Fri  Dinner               15.891611
4   Sat   Lunch                0.000000
5   Sat  Dinner               15.315172
6   Sun   Lunch                0.000000
7   Sun  Dinner               16.689729

## Size

In [105]:
df["size"].unique()

array([2, 3, 4, 1, 6, 5])

In [138]:
df['size'].value_counts().sort_values(ascending=True)

1      4
6      4
5      5
4     37
3     38
2    156
Name: size, dtype: int64

In [139]:
# Tips by party size
tips_by_size = df.groupby('size')['tip'].agg(['mean', 'median', 'min', 'max', 'sum', 'size'])
print("\nTips by party size:")
print(tips_by_size)

Tips by party size:
          mean  median   min    max     sum  size
size
1     1.437500   1.415  1.00   1.92    5.75     4
2     2.582308   2.500  1.00   5.85  402.84   156
3     3.393158   3.290  1.36  10.00  128.94    38
4     4.135405   3.760  2.00   9.00  153.01    37
5     4.028000   5.000  2.00   5.14   20.14     5
6     5.225000   5.000  4.20   6.70   20.90     4

In [140]:
# find the percentage
df['tips_percentage'] = np.round((df['tip']*100) / df['size'] , 2)
df.head()

,total_bill,tip,sex,smoker,day,time,size,tips_percentage,average_tip_percentage,total_sales_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,50.50,5.944673,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,55.33,16.054159,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,116.67,16.658734,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,165.50,13.978041,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,90.25,14.680765,14.680765